# ignore eclipse project files
.cproject
.project
.csettings
.settings

# ignore cmake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# ignore binaries
PENTrack

# ignore output files
*.out
*.root
doc/

# ignore images
*.png

# ignore QtCreator files
*.config
*.creator
*.creator.user
*.files
*.includes
