# ignore eclipse project files
.cproject
.project
.csettings
.settings

# ignore cmake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
Testing
CTestTestfile.cmake

# ignore binaries
PENTrack
runTests

# ignore output files
*.out
*.root
doc/

# ignore CGAL library
cgal/

# ignore images
*.png

# ignore QtCreator files
*.config
*.creator
*.creator.user
*.files
*.includes

#ignore VS Code files
.vscode/
compile_commands.json
